<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />

<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

<link href="../../../resources/css/dataTables.bootstrap.css" rel="stylesheet" media="screen"
	th:href="@{/resources/css/dataTables.bootstrap.css}" />

<script src="http://code.jquery.com/jquery-latest.js"></script>

<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

<script src="../../../resources/js/jquery.dataTables.min.js" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>

<script src="../../../resources/js/dataTables.bootstrap.js" th:src="@{/resources/js/dataTables.bootstrap.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div
				th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
		</th:block>



        <p>
            <a href="/offering/new" th:href="@{/offering/new}" class="btn btn-success " th:text="#{label.newoffering}">New Offering</a>
        </p>
		<div th:if="${not #lists.isEmpty(offerings)}">
			<table id='offeringListTb'  class="table table-bordered table-hover">
				<thead>
					<tr>
					<th>Id</th>
						<th th:text="#{label.offeringname}">Name</th>
						<th th:text="#{label.offeringdescription}">Description</th>
						<th th:text="#{label.ismainoffering}">Is Main Product</th>
						<th th:text="#{label.isaddonoffering}">Is Addon Product</th>
						<th th:text="#{label.price}">Price</th>
						<th></th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="offering : ${offerings}">
					<td th:text="${offering.id}">Id</td>
						<td th:text="${offering.name}">Name</td>
						<td th:text="${offering.description}">Description</td>
						<td th:text="${offering.main?'X':''}">Main</td>
						<td th:text="${offering.addon?'X':''}">Addon</td>
						<td th:text="${offering.price+'TL'}">Price</td>
						<td>
						<a href ='' th:href="@{'/offering/'+${offering.id} +'/edit'}" class='btn btn-sm btn-success' th:text="#{label.edit}">Edit</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('#offeringListTb').dataTable({
	            "bPaginate": true,
	            "bLengthChange": false,
	            "bFilter": false,
	            "bSort": true,
	            "bInfo": true,
	            "bAutoWidth": false
	        });
		});
	</script>
	
    <div th:replace="fragments/footer :: footer">-</div>
</body>
</html>