<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Offering</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/offering/save}"
		th:object="${offeringForm}">
		<th:block th:if="${param.error != null}">
			<div th:replace="fragments/alert :: alert (type='danger', message='Error occured. Please try again.')">Alert</div>
		</th:block>
		<fieldset>
			<legend th:text="#{label.newoffering}">New Offering</legend>
			<input type="hidden" id="inputId" name="id" th:field="*{id}" />
			<div class="form-group">
				<label for="inputname" class="col-lg-2 control-label" th:text="#{label.offeringname}">Name</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputname" placeholder="Name" name="name" th:field="*{name}" />
					<div class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

				</div>
			</div>
			<div class="form-group">
				<label for="inputdesc" class="col-lg-2 control-label" th:text="#{label.offeringdescription}">Description</label>
				<div class="col-lg-10">
					<textarea class="form-control" id="inputdesc" placeholder="Description" name="description"
						th:field="*{description}"></textarea>
					<div class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description
						error</div>
				</div>
			</div>

			<div class="checkbox">
				<label><input type="checkbox" value="true" name="isMain" th:field="*{isMain}"
					th:text="#{label.ismainoffering}" /></label>
			</div>

			<div class="checkbox">
				<label><input type="checkbox" value="true" name="isAddon" th:field="*{isAddon}"
					th:text="#{label.isaddonoffering}" /></label>
			</div>

			<div class="form-group">
				<label for="inputprice" class="col-lg-2 control-label" th:text="#{label.price}">Price</label>
				<div class="col-lg-10">
					<input type="number" class="form-control" id="inputprice" placeholder="Price" name="price" th:field="*{price}" />
					<div class="help-block" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Description error</div>
				</div>
			</div>

			<button type="submit" class="btn btn-default" th:text="#{label.create}">Create</button>


		</fieldset>
	</form>
    <div th:replace="fragments/footer :: footer">-</div>
</body>
</html>