<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />

<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

<link href="../../../resources/css/dataTables.bootstrap.css" rel="stylesheet" media="screen"
	th:href="@{/resources/css/dataTables.bootstrap.css}" />

<script src="http://code.jquery.com/jquery-latest.js"></script>

<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

<script src="../../../resources/js/jquery.dataTables.min.js" th:src="@{/resources/js/jquery.dataTables.min.js}"></script>

<script src="../../../resources/js/dataTables.bootstrap.js" th:src="@{/resources/js/dataTables.bootstrap.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div
				th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
		</th:block>



        <p>
            <a href="/order/new" th:href="@{/order/new}" class="btn btn-success " th:text="#{label.neworder}">New Order</a>
        </p>
		<div th:if="${not #lists.isEmpty(orders)}">
			<table id='orderListTb'  class="table table-bordered table-hover">
				<thead>
					<tr>
					<th>Id</th>
						<th th:text="#{label.createdby}">Created By</th>
						<th th:text="#{label.createdat}">Created At</th>
						<th th:text="#{label.mainoffering}">Main Product</th>
						<th th:text="#{label.addonofferings}">Addon Products</th>
						<th th:text="#{label.totalorderprice}">Total Price</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${orders}">
					<td th:text="${order.orderId}">Id</td>
						<td th:text="${order.createdBy}">Created By</td>
						<td th:text="${order.createdAt}">Created At</td>
						<td th:text="${order.mainOffering}">Main Offering</td>
						<td th:text="${order.addonOfferings}">Addon Offerings</td>
						<td th:text="${order.totalPrice+'TL'}">Total Price</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('#orderListTb').dataTable({
	            "bPaginate": true,
	            "bLengthChange": false,
	            "bFilter": false,
	            "bSort": true,
	            "bInfo": true,
	            "bAutoWidth": false
	        });
		});
	</script>
    <div th:replace="fragments/footer :: footer">-</div>
</body>
</html>