<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Order</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/underscore.js" th:src="@{/resources/js/underscore.js}"></script>

</head>
<body><div th:replace="fragments/header :: header">&nbsp;</div>
	<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/order/save}" th:object="${orderForm}">
		<th:block th:if="${param.error != null}">
			<div th:replace="fragments/alert :: alert (type='danger', message='Error occured. Please try again.')">Alert</div>
		</th:block>
		<input type="hidden" id="inputId" name="id" th:field="*{id}" /> <input type="hidden" id="addonInfoList"
			name="addonInfoList" th:field="*{addonInfoList}" />
		<fieldset>
			<legend th:text="#{label.neworder}">New Order</legend>
			<div class="form-group">
				<label for="inputmain" class="col-sm-4 control-label" th:text="#{label.mainoffering}">Main Offering</label>
				<div class="col-sm-8 p5">

					<select id='mainSelect' th:field="*{mainOfferingId}" class="form-control">
						<option th:each="type : ${mainOfferings}" th:value="${type.id}" th:text="${type.name+' ['+type.price+'TL]' }"
							data-data-name='${type.name}' data-data-price='${type.price}' >Price</option>
					</select>
					<div class="help-block" th:if="${#fields.hasErrors('mainOfferingId')}" th:errors="*{mainOfferingId}">mainOfferingId
						error</div>
				</div>
			</div>

			<div class='clearfix'></div>
			<div class="form-group">
				<label class="col-sm-4 control-label " th:text="#{label.addonofferings}">Addon Offerings</label>

				<div class="col-sm-4 p5">

					<select id='addonSelect' class="form-control p5">
						<option th:each="type : ${addonOfferings}" th:value="${type.id}" th:text="${type.name+' ['+type.price+'TL]'}"
							data-data-price="${type.price}" data-data-name='${type.name}'></option>
					</select>

				</div>
				<div class="col-sm-2 p5">

					<select id='addonCount' class="form-control p5">
						<option th:each="type : ${addonCounts}" th:value="${type}" th:text="${type}">0</option>
					</select>
				</div>
				<div class="col-sm-2 p5">

					<button type="button" id='addonAdd' class="form-control btn btn-default" th:text="#{label.add}">Add</button>
				</div>
			</div>
			<fieldset>
				<legend th:text="#{order.summary}">Order Summary</legend>
				<div class='row'>
					<div class='col-xs-4' th:text="#{label.mainoffering}"></div>
					<div class='col-xs-1' >:</div>
					<div class='col-xs-7' id='mainofferingname'>Kahve</div>
					<div class='clearfix'></div>
					<div class='col-xs-4' th:text="#{label.price}">Price</div>
					<div class='col-xs-1' >:</div>
					<div class='col-xs-7'>
						<span id='mainofferingprice'>0</span> TL
					</div>
				</div>

				<table class="table table-hover">
					<thead>
						<tr data-addonid="1">
							<th th:text="#{label.addonofferings}">Addons</th>
							<th th:text="#{label.unitprice}">Unit Price</th>
							<th th:text="#{label.count}">Count</th>
							<th th:text="#{label.sum}">Sum</th>
							<th></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan='3' th:text="#{label.totaladdonprice}">Total Addon Price</td>
							<td colspan='2'><span><span id='addonsumtd'></span> TL</span></td>
						</tr>
						<tr>
							<td colspan='3' th:text="#{label.totalorderprice}"><b>Total Order Price</b></td>
							<td colspan='2' id='addonsumtd'><b><span id='totalPrice'></span> TL</b></td>
						</tr>
					</tfoot>
					<tbody id='addonlist'>
					</tbody>
				</table>

			</fieldset>

			<button type="submit" class="btn btn-default btn-block btn-success" th:text="#{label.create}">Create</button>


		</fieldset>
	</form>

	<script type="text/javascript">
		$(function() {

			var addonlist = [];

			function addAddon(id, txt, price, count) {

				var addon = _.find(addonlist, function(e) {
					return e.id == id
				});

				if (!addon) {

					addon = {
						id : id,
						txt : txt,
						price : price,
						count : 0
					};

					addonlist.push(addon);
				}

				addon.count += count;

				renderOrderSummary();
			}

			$('#addonlist').on('click', '.rmAddonBtn', function() {
				console.log($(this).data('addonid'));
				var addonid = $(this).data('addonid');
				addonlist = _.reject(addonlist, function(e) {
					return e.id == addonid;
				});
				renderOrderSummary();

			});

			$('#mainSelect').change(function() {
				renderOrderSummary();
			}).change();

			$('#addonAdd').click(function() {

				var id = $('#addonSelect option:selected').val();
				var txt = $('#addonSelect option:selected').data('name');
				var price = $('#addonSelect option:selected').data('price');
				var count = $('#addonCount option:selected').val() * 1;

				addAddon(id, txt, price, count);

			});

			function renderOrderSummary() {

				var mainPrice = $('#mainSelect option:selected').data('price') * 1;

				var addonPrice = _.reduce(addonlist, function(m, e) {
					return m + e.price * e.count
				}, 0) || 0;

				$('#addonlist').html('');
				_
						.each(
								addonlist,
								function(e) {
									$('#addonlist')
											.append(
													'<tr  ><td>'
															+ e.txt
															+ '</td><td>'
															+ e.price
															+ '</td><td>'
															+ e.count
															+ '</td><td>'
															+ e.count
															* e.price
															+ ' </td><td><button type="button" data-addonid="' + e.id + '" class="btn btn-sm btn-danger rmAddonBtn">X</button></td></tr>')
								});

				$('#mainofferingname').text(
						$('#mainSelect option:selected').data('name'));
				$('#mainofferingprice').text(mainPrice);
				$('#addonsumtd').html(addonPrice);
				$('#totalPrice').html(addonPrice + mainPrice);

				$('#addonInfoList').val(JSON.stringify(addonlist));

			}

		})
	</script>
    <div th:replace="fragments/footer :: footer">-</div>
</body>
</html>