<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1 th:text="#{app.name}">Test</h1>
        <p class="lead" th:text="#{app.description}">
            App Description
        </p>
        <p>
            <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-block"  th:text="#{label.signup}">Sign up</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer">-</div>
</div>
</body>
</html>