<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="footer">
        <small>&copy; 2015 kahveci by ferhat bahar</small>
    </div>
</body>
</html>

